{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta charset="utf-8">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="{% static "css/hover.css" %}" rel="stylesheet" media="all">
		<link rel="stylesheet" href="{% static "css/prettyPhoto.css" %}">
		<link rel="stylesheet" href="{% static "css/base.css" %}">
		<link href='https://fonts.googleapis.com/css?family=Pacifico|Oswald|Open+Sans|Josefin+Sans|Slabo+27px|Poiret+One|Quicksand:400,300|Questrial' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div style="background: url(/static/img/greyzz.png);width: 100%;position: fixed;top: 0;bottom: 0;opacity: 0.45;">
		</div>
		<div class="container">
			<div class="row">
				<div class="title col-md-12">
					<span class="title-header">Shuyler Jude Nazareth</span>
					<span id="small-nav">&#9776
					</span>
					<hr>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
				<nav class="navbar-nav">
					<ul class="regular-nav">
						<li><a href="/">PORTFOLIO</a></li>
						<li><a href="/about">ABOUT</a></li>
						<li><a href="#">CONTACT</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div id="small-menu" style="z-index:-1;">
			<div class="container">
				<a id="close-button">
						  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</a>
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<ul>
							<li><a href="/">PORTFOLIO</a></li>
							<li><a href="/about">ABOUT</a></li>
							<li><a>CONTACT</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div id="page_content">
			{% block content %}

			{% endblock %}
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
		<script src="{% static "js/jquery.prettyPhoto.js" %}" type="text/javascript" charset="utf-8"></script>
		<script>
			$('#small-nav').click(function() {
				$('#small-menu').animate({
					opacity: 0.92,
				}, 400).css('z-index',1400);
				$(this).animate( {opacity:'0'}, {duration:250});
			});

			$('#close-button').click(function() {
				// $('#small-menu').addClass('hidden1').removeClass('active1');
				// $('#small-menu').fadeTo('slow', 0 );
				$('#small-menu').animate( {opacity:'0'}, {duration:250}).fadeTo('slow', 0 ).css('z-index',-1);
				$('#small-nav').animate( {opacity:'100'}, {duration:200});
			});

			$(document).ready(function(){
				$("a[rel^='lightbox']").prettyPhoto();
			});

			$(document).ready(function() {

				$('#page_content').css('display', 'none');

				$('#page_content').fadeIn(1000);



				$('.link').click(function() {

					event.preventDefault();

					newLocation = this.href;

					$('#page_content').fadeOut(1000, newpage);

					});

					function newpage() {

					window.location = newLocation;

					}

				});



		</script>

	</body>
</html>