{% extends "thesite/base.html" %}

{% block content %}


<div id="drawings" class="container gallery">
	<div class="row">
		<div class="col-md-5">
			<div class="title-thumb img-responsive text-center" style="background-color:#DC4E53;">drawings</div>
			<a rel="lightbox[drawings]" href="/static/img/fine_art/drawings/drawing_3.jpg" class="thumb img-responsive fadein" style="background-image:url(/static/img/fine_art/drawings/drawing_3.jpg);" title="Constellations | Graphite Drawing">Text</a>
			<a rel="lightbox[drawings]" href="/static/img/fine_art/drawings/drawing_4.jpg" class="thumb img-responsive fadein" style="background-image:url(/static/img/fine_art/drawings/drawing_4.jpg);" title="Untitled | Graphite Drawing">Text</a>
		</div>
		<div class="col-md-7">
			<a rel="lightbox[drawings]" href="/static/img/fine_art/drawings/drawing_1.jpg" class="thumb-tall img-responsive fadein" style="background-image:url(/static/img/fine_art/drawings/drawing_1.jpg);" title="T-Rex | Graphite Drawing">Text</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<a rel="lightbox[drawings]" href="/static/img/fine_art/drawings/drawing_5.jpg" class="thumb fadein" style="background-image:url(/static/img/fine_art/drawings/drawing_5.jpg);" title="Pepper Study | Graphite Drawing">Text</a>
		</div>
		<div class="col-md-4">
			<a rel="lightbox[drawings]" href="/static/img/fine_art/drawings/drawing_6.jpg" class="thumb fadein" style="background-image:url(/static/img/fine_art/drawings/drawing_6.jpg);" title="Hands | Graphite Drawing">Text</a>
		</div>
		<div class="col-md-4">
			<a rel="lightbox[drawings]" href="/static/img/fine_art/drawings/drawing_2.jpg" class="thumb fadein" style="background-image:url(/static/img/fine_art/drawings/drawing_2.jpg);" title="Leaf Study | Graphite Drawing">Text</a>
		</div>
	</div>
</div>

<hr class="gallery-page-hr">

<div id="illustrations" class="container gallery">
	<div class="row">
		<div class="col-md-3 ">
			<a rel="lightbox[illustrations]" href="/static/img/fine_art/illustrations/illustration_1.jpg" class="thumb img-responsive fadein" style="background-image:url(/static/img/fine_art/illustrations/illustration_1.jpg);" title="Human Animals: The Gang | Colored pencils, oil pastel">Text</a>
			<a rel="lightbox[illustrations]" href="/static/img/fine_art/illustrations/illustration_2.jpg" class="thumb img-responsive fadein" style="background-image:url(/static/img/fine_art/illustrations/illustration_2.jpg);" title="Human Animals: The Hunt | Colored pencils, oil pastel">Text</a>
		</div>
		<div class="col-md-6">
			<a rel="lightbox[illustrations]" href="/static/img/fine_art/illustrations/illustration_3.jpg" class="thumb-square img-responsive fadein" style="background-image:url(/static/img/fine_art/illustrations/illustration_3.jpg);" title="Human Animals: The Land | Colored pencils, oil pastel">Text</a>
		</div>
		<div class="col-md-3 ">
			<div class="title-thumb img-responsive text-center" style="background-color:#FEB300;">illustrations</div>
			<a rel="lightbox[illustrations]" href="/static/img/fine_art/illustrations/illustration_4.jpg" class="thumb img-responsive fadein" style="background-image:url(/static/img/fine_art/illustrations/illustration_4.jpg);" title="Self Portrait | Digital illustration">Text</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-7">
			<a rel="lightbox[illustrations]" href="/static/img/fine_art/illustrations/illustration_6.jpg" class="thumb-med-square img-responsive fadein" style="background-image:url(/static/img/fine_art/illustrations/illustration_6.jpg);" title="Untitled | Ballpoint pen">Text</a>
		</div>
		<div class="col-md-5">
			<a rel="lightbox[illustrations]" href="/static/img/fine_art/illustrations/illustration_7.jpg" class="thumb-med img-responsive fadein" style="background-image:url(/static/img/fine_art/illustrations/illustration_7.jpg);" title="Eminence | Oil pastel">Text</a>
			<a rel="lightbox[illustrations]" href="/static/img/fine_art/illustrations/illustration_8.jpg" class="thumb-med img-responsive fadein" style="background-image:url(/static/img/fine_art/illustrations/illustration_8.jpg);" title="JPO | Ink">Text</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<a rel="lightbox[illustrations]" href="/static/img/fine_art/illustrations/illustration_10.jpg" class="thumb-med img-responsive fadein" style="background-image:url(/static/img/fine_art/illustrations/illustration_10.jpg);" title="Charlie's Helmet: &quot;Today I'm getting a brand new bike!&quot; | Colored pencils">Text</a>
			<a rel="lightbox[illustrations]" href="/static/img/fine_art/illustrations/illustration_12.jpg" class="thumb-med img-responsive fadein" style="background-image:url(/static/img/fine_art/illustrations/illustration_12.jpg);" title="Charlie's Helmet: &quot;The helmet and padding made me look silly, so I decided to ride without them.&quot; | Colored pencils">Text</a>
			<a rel="lightbox[illustrations]" href="/static/img/fine_art/illustrations/illustration_14.jpg" class="thumb-med img-responsive fadein" style="background-image:url(/static/img/fine_art/illustrations/illustration_14.jpg);" title="Charlie's Helmet: &quot;My mom helped me up and took care of my cuts and bruises.&quot; | Colored pencils
			">Text</a>
		</div>
		<div class="col-md-4">
			<a rel="lightbox[illustrations]" href="/static/img/fine_art/illustrations/illustration_11.jpg" class="thumb-med img-responsive fadein" style="background-image:url(/static/img/fine_art/illustrations/illustration_11.jpg);" title="Charlie's Helmet: &quot;I showed my parents the one i wanted. It was a blue bike with flames painted on the side.&quot; | Colored pencils
			">Text</a>
			<a rel="lightbox[illustrations]" href="/static/img/fine_art/illustrations/illustration_13.jpg" class="thumb-med img-responsive fadein" style="background-image:url(/static/img/fine_art/illustrations/illustration_13.jpg);" title="Charlie's Helmet: &quot;The fun stopped when I hit a rock and fell off my bike!&quot; | Colored pencils">Text</a>
			<a rel="lightbox[illustrations]" href="/static/img/fine_art/illustrations/illustration_15.jpg" class="thumb-med img-responsive fadein" style="background-image:url(/static/img/fine_art/illustrations/illustration_15.jpg);" title="Charlie's Helmet: &quot;I guess mom was right! Now I always wear my helmet and padding when riding my new bike.&quot; | Colored pencils">Text</a>
		</div>
		<div class="col-md-4">
			<a href="#" class="thumb-med-long img-responsive fadein" style="background-image:url(/static/img/fine_art/illustrations/illustration_9.jpg);">Text</a>
			<a href="#" class="thumb-med img-responsive fadein" style="background-image:url(/static/img/fine_art/illustrations/illustration_5.jpg);">Text</a>
		</div>
	</div>
</div>

<hr class="gallery-page-hr">

<div id="paintings" class="container gallery">
	<div class="row">
		<div class="col-md-5">
			<div class="title-thumb img-responsive text-center" style="background-color:#0072BC;">paintings</div>
			<a href="#" class="thumb img-responsive fadein" style="background-image:url(/static/img/fine_art/paintings/painting_1.jpg);">Text</a>
		</div>
		<div class="col-md-7">
			<a href="#" class="thumb-square img-responsive fadein" style="background-image:url(/static/img/fine_art/paintings/painting_4.jpg);">Text</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 ">
			<a href="#" class="thumb-square img-responsive fadein" style="background-image:url(/static/img/fine_art/paintings/painting_3.jpg);">Text</a>
		</div>
		<div class="col-md-4">
			<a href="#" class="thumb-square img-responsive fadein" style="background-image:url(/static/img/fine_art/paintings/painting_2.jpg);">Text</a>
		</div>
		<div class="col-md-5">
			<a href="#" class="thumb-square img-responsive fadein" style="background-image:url(/static/img/fine_art/paintings/painting_5.jpg);">Text</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<a href="#" class="thumb-square img-responsive fadein" style="background-image:url(/static/img/fine_art/paintings/painting_6.jpg);">Text</a>
		</div>
		<div class="col-md-4">
			<a href="#" class="thumb-square img-responsive fadein" style="background-image:url(/static/img/fine_art/paintings/painting_7.jpg);">Text</a>
		</div>
		<div class="col-md-4">
			<a href="#" class="thumb img-responsive fadein" style="background-image:url(/static/img/fine_art/paintings/painting_8.jpg);">Text</a>
			<a href="#" class="thumb img-responsive fadein" style="background-image:url(/static/img/fine_art/paintings/painting_9.jpg);">Text</a>
		</div>
	</div>
</div>

<hr class="gallery-page-hr">

<div id="mixed-media" class="container gallery">
	<div class="row">
		<div class="col-md-7">
			<a href="#" class="thumb-square img-responsive fadein" style="background-image:url(/static/img/fine_art/mixed_media/piece_1.jpg);">Text</a>
		</div>
		<div class="col-md-5">
			<div class="title-thumb img-responsive text-center" style="background-color:#9A59C3;">mixed media</div>
			<a href="#" class="thumb img-responsive fadein" style="background-image:url(/static/img/fine_art/mixed_media/piece_4.jpg);">Text</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 ">
			<a href="#" class="thumb-square img-responsive fadein" style="background-image:url(/static/img/fine_art/mixed_media/piece_3.jpg);">Text</a>
		</div>
		<div class="col-md-4">
			<a href="#" class="thumb-square img-responsive fadein" style="background-image:url(/static/img/fine_art/mixed_media/piece_2.jpg);">Text</a>
		</div>
		<div class="col-md-5">
			<a href="#" class="thumb-square img-responsive fadein" style="background-image:url(/static/img/fine_art/mixed_media/piece_5.jpg);">Text</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<a href="#" class="thumb-square img-responsive fadein" style="background-image:url(/static/img/fine_art/mixed_media/piece_6.jpg);">Text</a>
		</div>
		<div class="col-md-4">
			<a href="#" class="thumb-square img-responsive fadein" style="background-image:url(/static/img/fine_art/mixed_media/piece_7.jpg);">Text</a>
		</div>
		<div class="col-md-4">
			<a href="#" class="thumb img-responsive fadein" style="background-image:url(/static/img/fine_art/mixed_media/piece_8.jpg);">Text</a>
			<a href="#" class="thumb img-responsive fadein" style="background-image:url(/static/img/fine_art/mixed_media/piece_9.jpg);">Text</a>
		</div>
	</div>



{% endblock %}