{% extends "thesite/base.html" %}

{% block content %}

<div id="drawings" class="container gallery">
	<div class="row">
		<div class="col-md-5 col-sm-5">
			<div class="title-thumb img-responsive text-center" style="background-color:#DC4E53;">drawings</div>
			<a href="#" class="thumb img-responsive fadein" style="background-image:url(/static/img/fine_art/drawings/drawing_3.jpg);">Text</a>
			<a href="#" class="thumb img-responsive fadein" style="background-image:url(/static/img/fine_art/drawings/drawing_4.jpg);">Text</a>
		</div>
		<div class="col-md-7 col-sm-7">
			<a href="#" class="thumb-tall img-responsive fadein" style="background-image:url(/static/img/fine_art/drawings/drawing_1.jpg);">Text</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-sm-4">
			<a href="#" class="thumb fadein" style="background-image:url(/static/img/fine_art/drawings/drawing_5.jpg);">Text</a>
		</div>
		<div class="col-md-4 col-sm-4">
			<a href="#" class="thumb fadein" style="background-image:url(/static/img/fine_art/drawings/drawing_6.jpg);">Text</a>
		</div>
		<div class="col-md-4 col-sm-4">
			<a href="#" class="thumb fadein" style="background-image:url(/static/img/fine_art/drawings/drawing_2.jpg);">Text</a>
		</div>
	</div>
</div>

<hr class="gallery-page-hr">

<div id="illustrations" class="container gallery">
	<div class="row">
		<div class="col-md-3 col-sm-3">
			<a href="#" class="thumb img-responsive fadein" style="background-image:url(/static/img/fine_art/illustrations/illustration_1.jpg);">Text</a>
			<a href="#" class="thumb img-responsive fadein" style="background-image:url(/static/img/fine_art/illustrations/illustration_2.jpg);">Text</a>
		</div>
		<div class="col-md-6 col-sm-6">
			<a href="#" class="thumb-square img-responsive fadein" style="background-image:url(/static/img/fine_art/illustrations/illustration_3.jpg);">Text</a>
		</div>
		<div class="col-md-3 col-sm-3">
			<div class="title-thumb img-responsive text-center" style="background-color:#FEB300;">illustrations</div>
			<a href="#" class="thumb img-responsive fadein" style="background-image:url(/static/img/fine_art/illustrations/illustration_4.jpg);">Text</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-7 col-sm-7">
			<a href="#" class="thumb-med-square img-responsive fadein" style="background-image:url(/static/img/fine_art/illustrations/illustration_6.jpg);">Text</a>
		</div>
		<div class="col-md-5 col-sm-5">
			<a href="#" class="thumb-med img-responsive fadein" style="background-image:url(/static/img/fine_art/illustrations/illustration_7.jpg);">Text</a>
			<a href="#" class="thumb-med img-responsive fadein" style="background-image:url(/static/img/fine_art/illustrations/illustration_8.jpg);">Text</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-sm-4">
			<a href="#" class="thumb-med img-responsive fadein" style="background-image:url(/static/img/fine_art/illustrations/illustration_10.jpg);">Text</a>
			<a href="#" class="thumb-med img-responsive fadein" style="background-image:url(/static/img/fine_art/illustrations/illustration_12.jpg);">Text</a>
			<a href="#" class="thumb-med img-responsive fadein" style="background-image:url(/static/img/fine_art/illustrations/illustration_14.jpg);">Text</a>
		</div>
		<div class="col-md-4 col-sm-4">
			<a href="#" class="thumb-med img-responsive fadein" style="background-image:url(/static/img/fine_art/illustrations/illustration_11.jpg);">Text</a>
			<a href="#" class="thumb-med img-responsive fadein" style="background-image:url(/static/img/fine_art/illustrations/illustration_13.jpg);">Text</a>
			<a href="#" class="thumb-med img-responsive fadein" style="background-image:url(/static/img/fine_art/illustrations/illustration_15.jpg);">Text</a>
		</div>
		<div class="col-md-4 col-sm-4">
			<a href="#" class="thumb-med-long img-responsive fadein" style="background-image:url(/static/img/fine_art/illustrations/illustration_9.jpg);">Text</a>
			<a href="#" class="thumb-med img-responsive fadein" style="background-image:url(/static/img/fine_art/illustrations/illustration_5.jpg);">Text</a>
		</div>
	</div>
</div>

<hr class="gallery-page-hr">

<div id="paintings" class="container gallery">
	<div class="row">
		<div class="col-md-5 col-sm-5">
			<div class="title-thumb img-responsive text-center" style="background-color:#0072BC;">paintings</div>
			<a href="#" class="thumb img-responsive fadein" style="background-image:url(/static/img/fine_art/paintings/painting_1.jpg);">Text</a>
		</div>
		<div class="col-md-7 col-sm-7">
			<a href="#" class="thumb-square img-responsive fadein" style="background-image:url(/static/img/fine_art/paintings/painting_4.jpg);">Text</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 col-sm-3">
			<a href="#" class="thumb-square img-responsive fadein" style="background-image:url(/static/img/fine_art/paintings/painting_3.jpg);">Text</a>
		</div>
		<div class="col-md-4 col-sm-4">
			<a href="#" class="thumb-square img-responsive fadein" style="background-image:url(/static/img/fine_art/paintings/painting_2.jpg);">Text</a>
		</div>
		<div class="col-md-5 col-sm-5">
			<a href="#" class="thumb-square img-responsive fadein" style="background-image:url(/static/img/fine_art/paintings/painting_5.jpg);">Text</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-sm-4">
			<a href="#" class="thumb-square img-responsive fadein" style="background-image:url(/static/img/fine_art/paintings/painting_6.jpg);">Text</a>
		</div>
		<div class="col-md-4 col-sm-4">
			<a href="#" class="thumb-square img-responsive fadein" style="background-image:url(/static/img/fine_art/paintings/painting_7.jpg);">Text</a>
		</div>
		<div class="col-md-4 col-sm-4">
			<a href="#" class="thumb img-responsive fadein" style="background-image:url(/static/img/fine_art/paintings/painting_8.jpg);">Text</a>
			<a href="#" class="thumb img-responsive fadein" style="background-image:url(/static/img/fine_art/paintings/painting_9.jpg);">Text</a>
		</div>
	</div>
</div>

<hr class="gallery-page-hr">

<div id="mixed-media" class="container gallery">
	<div class="row">
		<div class="col-md-7 col-sm-7">
			<a href="#" class="thumb-square img-responsive fadein" style="background-image:url(/static/img/fine_art/mixed_media/piece_1.jpg);">Text</a>
		</div>
		<div class="col-md-5 col-sm-5">
			<div class="title-thumb img-responsive text-center" style="background-color:#0CBC00;">mixed media</div>
			<a href="#" class="thumb img-responsive fadein" style="background-image:url(/static/img/fine_art/mixed_media/piece_4.jpg);">Text</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 col-sm-3">
			<a href="#" class="thumb-square img-responsive fadein" style="background-image:url(/static/img/fine_art/mixed_media/piece_3.jpg);">Text</a>
		</div>
		<div class="col-md-4 col-sm-4">
			<a href="#" class="thumb-square img-responsive fadein" style="background-image:url(/static/img/fine_art/mixed_media/piece_2.jpg);">Text</a>
		</div>
		<div class="col-md-5 col-sm-5">
			<a href="#" class="thumb-square img-responsive fadein" style="background-image:url(/static/img/fine_art/mixed_media/piece_5.jpg);">Text</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-sm-4">
			<a href="#" class="thumb-square img-responsive fadein" style="background-image:url(/static/img/fine_art/mixed_media/piece_6.jpg);">Text</a>
		</div>
		<div class="col-md-4 col-sm-4">
			<a href="#" class="thumb-square img-responsive fadein" style="background-image:url(/static/img/fine_art/mixed_media/piece_7.jpg);">Text</a>
		</div>
		<div class="col-md-4 col-sm-4">
			<a href="#" class="thumb img-responsive fadein" style="background-image:url(/static/img/fine_art/mixed_media/piece_8.jpg);">Text</a>
			<a href="#" class="thumb img-responsive fadein" style="background-image:url(/static/img/fine_art/mixed_media/piece_9.jpg);">Text</a>
		</div>
	</div>



{% endblock %}