{% extends "thesite/base.html" %}

{% block content %}

<div id="gd-display" class="container-fluid">
<div id="gd-cover"></div>

	<div class="col-md-2">
		<div  class="carousel-menu-left">
<ol>
        <li data-target="#carousel" data-slide-to="1" style="background:url(/static/img/graphic_design/gd_contents.jpg);"></li>
        <li data-target="#carousel" data-slide-to="3" style="background:url(/static/img/graphic_design/gd_1_b.jpg);"></li>
        <li data-target="#carousel" data-slide-to="5" style="background:url(/static/img/graphic_design/gd_2_b.jpg);"></li>
        <li data-target="#carousel" data-slide-to="7" style="background:url(/static/img/graphic_design/gd_3_b.jpg);"></li>
    </ol>
</div>
</div>
<div class="col-md-8">
<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-move-left left" href="#carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
    <a class="carousel-move-right right" href="#carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
</div>
</div>
<div class="col-md-2">
	<div class="carousel-menu-right">
		<ol>
         <li data-target="#carousel" data-slide-to="9" style="background:url(/static/img/graphic_design/gd_4_b.jpg);"></li>
        <li data-target="#carousel" data-slide-to="11" style="background:url(/static/img/graphic_design/gd_5_b.jpg);"></li>
        <li data-target="#carousel" data-slide-to="13" style="background:url(/static/img/graphic_design/gd_6_b.jpg);"></li>
        <li data-target="#carousel" data-slide-to="15" style="background:url(/static/img/graphic_design/gd_7_b.jpg);"></li>
    </ol>
</div>
</div>
</div>



{% endblock %}