{% extends "thesite/base.html" %}

{% block content %}

<div id="graphic-design" class="container gallery">
	<div class="row">
		<div class="col-md-6">
			<a rel="lightbox[graphic_design]" href="/static/img/graphic_design/gd_title.jpg"><img src="/static/img/graphic_design/gd_title.jpg"></img></a>
		</div>
		<div class="col-md-6">
			<a rel="lightbox[graphic_design]" href="/static/img/graphic_design/gd_contents.jpg"><img src="/static/img/graphic_design/gd_contents.jpg"></img></a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<a rel="lightbox[graphic_design]" href="/static/img/graphic_design/gd_1_a.jpg"><img src="/static/img/graphic_design/gd_1_a.jpg"></img></a>
		</div>
		<div class="col-md-6">
			<a rel="lightbox[graphic_design]" href="/static/img/graphic_design/gd_1_b.jpg"><img src="/static/img/graphic_design/gd_1_b.jpg"></img></a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<a rel="lightbox[graphic_design]" href="/static/img/graphic_design/gd_2_a.jpg"><img src="/static/img/graphic_design/gd_2_a.jpg"></img></a>
		</div>
		<div class="col-md-6">
			<a rel="lightbox[graphic_design]" href="/static/img/graphic_design/gd_2_b.jpg"><img src="/static/img/graphic_design/gd_2_b.jpg"></img></a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<a rel="lightbox[graphic_design]" href="/static/img/graphic_design/gd_3_a.jpg"><img src="/static/img/graphic_design/gd_3_a.jpg"></img></a>
		</div>
		<div class="col-md-6">
			<a rel="lightbox[graphic_design]" href="/static/img/graphic_design/gd_3_b.jpg"><img src="/static/img/graphic_design/gd_3_b.jpg"></img></a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<a rel="lightbox[graphic_design]" href="/static/img/graphic_design/gd_4_a.jpg"><img src="/static/img/graphic_design/gd_4_a.jpg"></img></a>
		</div>
		<div class="col-md-6">
			<a rel="lightbox[graphic_design]" href="/static/img/graphic_design/gd_4_b.jpg"><img src="/static/img/graphic_design/gd_4_b.jpg"></img></a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<a rel="lightbox[graphic_design]" href="/static/img/graphic_design/gd_5_a.jpg"><img src="/static/img/graphic_design/gd_5_a.jpg"></img></a>
		</div>
		<div class="col-md-6">
			<a rel="lightbox[graphic_design]" href="/static/img/graphic_design/gd_5_b.jpg"><img src="/static/img/graphic_design/gd_5_b.jpg"></img></a>
		</div>
	</div>
</div>

{% endblock %}