{% extends "thesite/base.html" %}

{% block content %}

		<div class="portfolio-menu row">
			<div class="col-md-8 col-md-offset-2">
				<a href="#">
					<div id="gd" class="tile text-left hvr-sweep-to-right">
						<span>graphic design</span>
					</div>
				</a>
				<a href="#">
					<div id="va" class="tile text-center hvr-sweep-to-right">
						<span>video & animation</span>
					</div>
				</a>
				<a href="/fine_art">
					<div id="fa" class="tile text-right hvr-sweep-to-right">
						<span>fine art</span>
					</div>
				</a>
			</div>
		</div>

{% endblock %}
