{% extends "thesite/base.html" %}

{% block content %}

		<div class="portfolio-menu row">
			<div class="col-md-8 col-md-offset-2">
				<a href="#">
					<div id="gd" class="tile text-left hvr-bounce-to-right">
						<span>Graphic Design</span>
					</div>
				</a>
				<a href="#">
					<div id="va" class="tile text-center hvr-bounce-to-right">
						<span>Video & Animation</span>
					</div>
				</a>
				<a href="/fine_art">
					<div id="fa" class="tile text-right hvr-bounce-to-right">
						<span>Fine Art</span>
					</div>
				</a>
			</div>
		</div>

{% endblock %}
