{% extends "thesite/base.html" %}

{% block content %}


<div id="video-gallery" class="container">
	<div class="col-md-12">
		<div class="vid_tile row">
			<div class="col-md-4">
				<div class="vid_text">
					<h4>Tere Bina</h4>
					<div>
						A lonely wolf struggles to find solace from the loss of his partner. In Hindi, tere bina means “without you.”
						<h5><strong>Autodesk Maya:</strong></h5>
						Character animation, camera work, lighting and environment design
						<h5><strong>After Effects:</strong></h5>
						Post production and compositing
					</div>
				</div>
			</div>
			<div class="vid_vid "col-md-8"">
				<iframe src="https://player.vimeo.com/video/83817796?portrait=0" width="630" height="377" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
			</div>
		</div>
		<hr>
		<div class="vid_tile row">
			<div class="col-md-4">
				<div class="vid_text">
				<h4>Don't Mess with Rex</h4>
				<div>
					Dinosaurs have feelings too! A rather pretentious museum attendant learns this lesson the hard way.
					<h5><strong>Autodesk Maya:</strong></h5>
					Character animation, camera work, lighting and environment design
					<h5><strong>After Effects:</strong></h5>
					Post production and compositing
				</div>
			</div>
		</div>
			<div class="vid_vid "col-md-8"">
				<iframe src="https://player.vimeo.com/video/102148658?portrait=0" width="630" height="377" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</div>
		<hr>
		<div class="vid_tile row">
			<div class="col-md-4">
				<div class="vid_text">
				<h4>Day Dreaming</h4>
				<div>
					Growing up, we have dreams of what we will become when we're older, but when the time comes we aren’t exactly where we thought we would be. I use the act of sketching to communicate the development of a dream, and the erasing process as the sudden return into reality.
					<h5><strong>After Effects:</strong></h5>
					Compositing and animation
					<h5><strong>Adobe Premiere:</strong></h5>
					Video and sound editing
				</div>
			</div>
		</div>
			<div class="vid_vid "col-md-8"">
				<iframe src="https://player.vimeo.com/video/102161192?portrait=0" width="630" height="377" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</div>
		<hr>
		<div class="vid_tile row">
			<div class="col-md-4">
				<div class="vid_text">
				<h4>Senior Thesis</h4>
				<div>
					The following video is a documentation of my Senior Thesis video installation at Connecticut College. Inspired by the discrepancies in memory, I aim to bring attention to the human tendency to construct distorted recollections of the past. Although the inability to fully remember every detail of our lives can be perceived as a weakness, I instead see it as one of our greatest strengths: this inability provides space to exercise creative thought. When we bridge the gaps in our memory with fictions we do so using our knowledge of the world around us, building an imaginative perception of events past. We imagine and invent when memory fails.  
					<h5><strong>After Effects:</strong></h5>
					Compositing and animation
					<h5><strong>Adobe Premiere:</strong></h5>
					Video and sound editing
				</div>
			</div>
		</div>
			<div class="vid_vid "col-md-8"">
				<iframe src="https://player.vimeo.com/video/102772821?portrait=0" width="630" height="377" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</div>
		<hr>
		<div class="vid_tile row">
			<div class="col-md-4">
				<div class="vid_text">
				<h4>Memory Lapse</h4>
				<div>
					This is the full video of Memory Lapse from my Senior Thesis Exhibition at Connecticut College. The overlap and conflict that emerges from individuals’ differing recollections of the same event, is what I call comparative memory discrepancy. Levels of certainty and self-doubt come into question when a memory is challenged by an opposing interpretation. This newly informed realization at times could create a surprising distortion of what is believed to be true.  
					<h5><strong>After Effects:</strong></h5>
					Compositing and animation
					<h5><strong>Adobe Premiere:</strong></h5>
					Video and sound editing
					<h5><strong>Filmed in Toronto, Canada</strong></h5>
				</div>
			</div>
		</div>
			<div class="vid_vid "col-md-8"">
				<iframe src="https://player.vimeo.com/video/102142179?portrait=0" width="630" height="377" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</div>
		<hr>
		<div class="vid_tile row">
			<div class="col-md-4">
				<div class="vid_text">
				<h4>An Old Friend</h4>
				<div>
					No matter how vivid and close an instance of recollection feels, it is never fully tactile to us. An Old Friend explores this spatial relationship with memory using the nostalgic objects of a playground. 
					<h5><strong>Adobe Premiere:</strong></h5>
					Video and sound editing
					<h5><strong>Filmed in Florence, Italy</strong></h5>
					<h5><strong>Music:</strong></h5>
					Über den Berg (Over the Mountains) <br>
					by: Alban Berg
				</div>
			</div>
		</div>
			<div class="vid_vid "col-md-8"">
				<iframe src="https://player.vimeo.com/video/58486689?portrait=0" width="630" height="377" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
		</div>
		<hr>
	</div>
</div>





{% endblock %}