html, body {
    max-width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
     background: linear-gradient( rgba(255, 255, 255, 0.98), rgba(255, 255, 255, 0.95) ), url(/static/img/toronto_bg.jpg) no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

.title {
	text-align: center;
	padding: 20px 0 30px 0;
}

.title hr {
	margin-top: -10px;
}

.title-header {
	font-family: 'Poiret One', sans-serif;
	font-size: 54px;
}

.navbar-nav {
	display: table;
	width: 100%;
	border-collapse: collapse;
	border: none;
	margin: auto;
}



nav {
	margin-bottom: 30px;
}

nav ul {
	display: table-row;
}

nav li {
	display: table-cell;
	margin: 0;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 32px;
	text-decoration: none;
	width: 33%;
}

nav a {
	color: #053A69;
}

nav a:hover {
	text-decoration: none;
}

#small-nav {
	float:right;
	margin-right: 10px;
	font-size: 36px;
	display: inline;
}




@media (max-width: 560px) {
	.title-header {
		font-size: 36px;
		float: left;
		margin-left: 3%;
	}

	.regular-nav {
		display: none;
	}

	#small-nav {
		display: inline;
	}

	.title hr {
		display: none;
	}

}

@media (max-width: 440px) {
	
	.title-header {
		font-size: 30px;
		line-height: 2em;
		float: left;
		margin-left: 3%;
	}

	#small-nav {
		float:right;
		margin-right: 10px;
		font-size: 28px;
		line-height: 2em;
	}

}

@media (max-width: 345px) {
	
	.title-header {
		font-size: 26px;
		line-height: 2em;
		float: left;
		margin-left: 3%;
	}

	#small-nav {
		float:right;
		margin-right: 10px;
		font-size: 26px;
		line-height: 2em;
	}
}


.active1 {
	display: block;
}

.active2 {
	display: inline;
}

.hidden1 {
	display: none !important;
}

#small-menu	{
	position: fixed;
	margin: auto;
	width: 100%;
	top: 0;
	bottom: 0;
	padding: 15% 0;
	background: #EFEF7E;
}

#small-menu ul {
	padding-left: 0;
}


#small-menu li {
	margin: auto;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 32px;
	text-decoration: none;
	width: 100%;
	line-height: 25vh;
	list-style-type: none;
}


#small-menu a {
	color: #053A69;
}

#small-menu a:hover {
	text-decoration: none;
}

#close-button {
	position: absolute;
	top: 36px;
	right: 18px;
}

@media (min-width: 560px) {
	#small-nav {
		display: none;
	}
}


.portfolio-menu {
	margin-top: 20px;
}

.tile {
	width: 100%;
	height: 150px;
	margin: 20px 0;
	padding: 0 20%;
	color: white;
}

.tile:hover {
	color: white;
}

@media (max-width: 950px) {
	.tile {
		padding: 0 0;
		text-align: center;
	}
}



#gd {
	background: linear-gradient( rgba(220, 78, 83, 0.5), rgba(220, 78, 83, 0.5) ), url(/static/img/tile_gd_bg.jpg);
	background-size: cover;
}

#gd:before {
	background: #DC4E53;
}

#va {
	background: linear-gradient( rgba(0, 114, 188, 0.5), rgba(0, 114, 188, 0.5) ), url(/static/img/tile_vid_bg.jpg);
	background-size: cover;
}

#va:before {
	background: #0072BC;
}


#fa {
	background: linear-gradient( rgba(254, 179, 0, 0.5), rgba(254, 179, 0, 0.5) ), url(/static/img/tile_fa_bg.jpg);
	background-size: cover;
}

#fa:before {
	background: #FEB300;
}

.tile span {
	line-height: 140px;
	font-family: 'Poiret One', sans-serif;
	text-transform: uppercase;
	font-size: 28px;
	font-weight: 300;
}



/*------FINE ART GALLERY CSS---------*/

.gallery {
	margin: auto;
	margin-top: 40px;
	margin-bottom: 100px;
	width: 80%;
}

.fadein {
	opacity:0.75;
	transition: 1s ease;
}

.fadein:hover {
	opacity:1;
	transition: 1s ease;
}

.gallery-page-hr {
	margin-bottom: 100px;
	margin-top: 0;
	width: 72%;
}

.thumb {
    display: block;
    text-indent: -1000px; /* hide link text */
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 250px;
    float: left;
    margin: 10px 0;
}

.title-thumb {
	display: block;
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 250px;
    float: left;
    margin: 10px 0;
    line-height: 250px;
    font-size: 52px;
    font-family: 'josefin sans', sans-serif;
}

.thumb-tall {
	display: block;
    text-indent: -1000px; /* hide link text */
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 790px;
    float: left;
    margin: 10px 0;
}


.thumb-square {
	display: block;
    text-indent: -1000px; /* hide link text */
    overflow: hidden;
    background-size: cover;
    background-position-x: 33%;
    width: 100%;
    height: 520px;
    float: left;
    margin: 10px 0;
}


#illustrations .thumb {
	display: block;
    text-indent: -1000px; /* hide link text */
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 220px;
    float: left;
    margin: 10px 0;
}

#illustrations .thumb-square {
	display: block;
    text-indent: -1000px; /* hide link text */
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 460px;
    float: left;
    margin: 10px 0;
}

#illustrations .title-thumb {
	display: block;
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 220px;
    float: left;
    margin: 10px 0;
    line-height: 220px;
    font-size: 52px;
    font-family: 'josefin sans', sans-serif;
}


#illustrations .thumb-med {
    display: block;
    text-indent: -1000px; /* hide link text */
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 250px;
    float: left;
    margin: 10px 0;
}

#illustrations .thumb-med-square {
    display: block;
    text-indent: -1000px; /* hide link text */
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 520px;
    float: left;
    margin: 10px 0;
}

#illustrations .thumb-med-long {
    display: block;
    text-indent: -1000px; /* hide link text */
    overflow: hidden;
    background-size: 130% 100%;
    width: 100%;
    height: 520px;
    float: left;
    margin: 10px 0;
}


