html {
  overflow-y: scroll;
}


html, body {
    max-width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background: white;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}


.title {
	text-align: center;
	padding: 20px 0 15px 0;
}

.title hr {
	margin-top: -10px;
}

.title-header {
	font-family: 'Poiret One', sans-serif;
	font-size: 54px;
	color: black;
}

.navbar-nav {
	display: table;
	width: 100%;
	border-collapse: collapse;
	border: none;
	margin: auto;
}



nav {
	margin-bottom: 30px;
}

nav ul {
	display: table-row;
}

nav li {
	display: table-cell;
	margin: 0;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 28px;
	text-decoration: none;
	width: 33%;
}

nav a {
	color: #525252;
}

nav a:hover {
	text-decoration: none;
}

#small-nav {
	float:right;
	margin-right: 10px;
	font-size: 36px;
	display: inline;
}




@media (max-width: 560px) {
	.title-header {
		font-size: 36px;
		float: left;
		margin-left: 3%;
	}

	.regular-nav {
		display: none;
	}

	#small-nav {
		display: inline;
	}

	.title hr {
		display: none;
	}

}

@media (max-width: 440px) {
	
	.title-header {
		font-size: 30px;
		line-height: 2em;
		float: left;
		margin-left: 3%;
	}

	#small-nav {
		float:right;
		margin-right: 10px;
		font-size: 28px;
		line-height: 2.2em;
	}

}

@media (max-width: 345px) {
	
	.title-header {
		font-size: 26px;
		line-height: 2em;
		float: left;
		margin-left: 3%;
	}

	#small-nav {
		float:right;
		margin-right: 10px;
		font-size: 26px;
		line-height: 2em;
	}
}


.active1 {
	display: block;
}

.active2 {
	display: inline;
}

.hidden1 {
	display: none !important;
}

#small-menu	{
	position: fixed;
	margin: auto;
	width: 100%;
	top: 0;
	bottom: 0;
	padding: 15% 0;
	background: #EFEF7E;
	opacity: 0;
}

#small-menu ul {
	padding-left: 0;
}


#small-menu li {
	margin: auto;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 32px;
	text-decoration: none;
	width: 100%;
	line-height: 25vh;
	list-style-type: none;
}


#small-menu a {
	color: #053A69;
}

#small-menu a:hover {
	text-decoration: none;
}

#close-button {
	position: absolute;
	top: 36px;
	right: 18px;
}

@media (min-width: 560px) {
	#small-nav {
		display: none;
	}
}


.portfolio-menu {
	margin-top: 20px;
}

.tile {
	width: 100%;
	height: 100px;
	margin: 20px 0;
	padding: 0 20%;
	color: white;
}

.tile:hover {
	color: white;
}

@media (max-width: 950px) {
	.tile {
		padding: 0 0;
		text-align: center;
	}
}



#gd {
	background: linear-gradient( rgba(220, 78, 83, 0.5), rgba(220, 78, 83, 0.5) ), url(/static/img/tile_gd_bg.jpg);
	background-size: cover;
}

#gd:before {
	background: #DC4E53;
}

#va {
	background: linear-gradient( rgba(0, 114, 188, 0.5), rgba(0, 114, 188, 0.5) ), url(/static/img/tile_vid_bg.jpg);
	background-size: cover;
}

#va:before {
	background: #0072BC;
}


#fa {
	background: linear-gradient( rgba(254, 179, 0, 0.5), rgba(254, 179, 0, 0.5) ), url(/static/img/tile_fa_bg.jpg);
	background-size: cover;
}

#fa:before {
	background: #FEB300;
}

.tile span {
	line-height: 170px;
	font-family: 'Poiret One', sans-serif;
	text-transform: uppercase;
	font-size: 28px;
	font-weight: 300;
}



/*------FINE ART GALLERY CSS---------*/

.gallery {
	margin: auto;
	margin-top: 40px;
	margin-bottom: 100px;
	width: 80%;
}

.gallery .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-left: 10px;
	padding-right: 10px;
}


.the_thumbs {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.the_thumbs_li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.fadein {
	opacity:0.75;
	transition: 1s ease;
}

.fadein:hover {
	opacity:1;
	transition: 1s ease;
}

.gallery-page-hr {
	margin-bottom: 100px;
	margin-top: 0;
	width: 72%;
}

.thumb {
    display: block;
    text-indent: -1000px; /* hide link text */
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 250px;
    float: left;
    margin: 10px 0;
}

.title-thumb {
	display: block;
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 250px;
    float: left;
    margin: 10px 0;
    line-height: 250px;
    font-size: 52px;
    font-family: 'josefin sans', sans-serif;
}

.thumb-tall {
	display: block;
    text-indent: -1000px; /* hide link text */
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 790px;
    float: left;
    margin: 10px 0;
}


.thumb-square {
	display: block;
    text-indent: -1000px; /* hide link text */
    overflow: hidden;
    background-size: cover;
    background-position-x: 33%;
    width: 100%;
    height: 520px;
    float: left;
    margin: 10px 0;
}


#illustrations .thumb {
	display: block;
    text-indent: -1000px; /* hide link text */
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 220px;
    float: left;
    margin: 10px 0;
}

#illustrations .thumb-square {
	display: block;
    text-indent: -1000px; /* hide link text */
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 460px;
    float: left;
    margin: 10px 0;
}

#illustrations .title-thumb {
	display: block;
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 220px;
    float: left;
    margin: 10px 0;
    line-height: 220px;
    font-size: 52px;
    font-family: 'josefin sans', sans-serif;
}


#illustrations .thumb-med {
    display: block;
    text-indent: -1000px; /* hide link text */
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 250px;
    float: left;
    margin: 10px 0;
}

#illustrations .thumb-med-square {
    display: block;
    text-indent: -1000px; /* hide link text */
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 520px;
    float: left;
    margin: 10px 0;
}

#illustrations .thumb-med-long {
    display: block;
    text-indent: -1000px; /* hide link text */
    overflow: hidden;
    background-size: 130% 100%;
    width: 100%;
    height: 520px;
    float: left;
    margin: 10px 0;
}


/*------ GRAPHIC DESIGN GALLERY ------*/



#gd-display {
	margin: 80px 0 20px 0;
}

#carousel {
	z-index: 10;
}

#gd-cover {
	position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #2B2B2B;
    margin: 0;
    margin-left: -20px;
    opacity: 0;
    display: none;
}	

.carousel-menu-left {
	display: inline-block;
	width: 100%;
	margin-right: 25px;
	z-index: -3;
	margin-top: 20px;
}


.carousel-menu-left li {
	display: block;
    text-indent: -1000px; /* hide link text */
    overflow: hidden;
    background-size: cover !important;
    width: 100%;
    height: 125px;
    float: left;
    margin: 10px 0;
    opacity: 0.25;
    transition: 0.5s ease;
}

.carousel-menu-left li:hover {
    opacity: 0.8;
    transition: 0.5s ease;
}

.carousel-menu-right {
	display: inline-block;
	width: 100%;
	margin-left: -25px;
	z-index: -3;
	margin-top: 20px;
}

.carousel-menu-right li {
	display: block;
    text-indent: -1000px; /* hide link text */
    overflow: hidden;
    background-size: cover !important;
    width: 100%;
    height: 125px;
    float: left;
    margin: 10px 0;
    opacity: 0.25;
    transition: 0.5s ease;
}

.carousel-menu-right li:hover {
	opacity: 0.8;
	transition: 0.5s ease;
}	



.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
          transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel-move-left {
	opacity: 0;
	background-image: linear-gradient(to left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 38px;
    line-height: 612px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.carousel-move-right {
	opacity: 0;
	background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
	position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 15%;
    line-height: 612px;
    font-size: 38px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.carousel-move-left:hover, .carousel-move-right:hover{
	opacity: 0.45;
}

.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 612px;
  width: 792px;
  margin: auto;
}
.item:nth-child(1) {
	background: url(/static/img/graphic_design/gd_title.jpg);
}
.item:nth-child(2) {
	background: url(/static/img/graphic_design/gd_contents.jpg);
}
.item:nth-child(3) {
	background: url(/static/img/graphic_design/gd_1_a.jpg);
}
.item:nth-child(4) {
	background: url(/static/img/graphic_design/gd_1_b.jpg);
}
.item:nth-child(5) {
	background: url(/static/img/graphic_design/gd_2_a.jpg);
}
.item:nth-child(6) {
	background: url(/static/img/graphic_design/gd_2_b.jpg);
}
.item:nth-child(7) {
	background: url(/static/img/graphic_design/gd_3_a.jpg);
}
.item:nth-child(8) {
	background: url(/static/img/graphic_design/gd_3_b.jpg);
}
.item:nth-child(9) {
	background: url(/static/img/graphic_design/gd_4_a.jpg);
}
.item:nth-child(10) {
	background: url(/static/img/graphic_design/gd_4_b.jpg);
}
.item:nth-child(11) {
	background: url(/static/img/graphic_design/gd_5_a.jpg);
}
.item:nth-child(12) {
	background: url(/static/img/graphic_design/gd_5_b.jpg);
}
.item:nth-child(13) {
	background: url(/static/img/graphic_design/gd_6_a.jpg);
}
.item:nth-child(14) {
	background: url(/static/img/graphic_design/gd_6_b.jpg);
}
.item:nth-child(15) {
	background: url(/static/img/graphic_design/gd_7_a.jpg);
}
.item:nth-child(16) {
	background: url(/static/img/graphic_design/gd_7_b.jpg);
}





/*-----------VIDEO AND ANIMATIONS GALLERY---------*/

.vid_tile {
	width: 100%;
	margin: 80px 0 60px 0;
}

.vid_text {
	text-align: center !important;
	margin: auto;
}

.vid_text h4 {
	font-size: 24px;
    background-color: #0072BC;
    padding: 0.5em;
    display: inline-block;
    color: white;
}

.vid_text h5 {
	font-size: 16px;
    margin-top: 20px;
}

.vid_vid {
	text-align: right;
}


/*----- ABOUT ME PAGE -----*/

#about-me {
	margin-top: 40px;
	font-style: 'Open-Sans', sans-serif;
}

#about-me h4 {
	margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

#about-me hr {
	width: 75%;
	margin-top: 40px;
}

.about-me-summary {
	line-height: 1.75em;
}

#prof-pic {
	margin-top: 20px;
}

.fixed {
	position: fixed;
	top: 9.3%;
}

#resume {
	margin: 20px 0 0 0;
}

#resume img {
	height: auto;
	width: 95px;
}

#resume h4 {
	text-align: center;
}


#resume .col-md-3 {
	text-align: center;
}

.resume-piece {
	margin-top: 40px;
}

.resume-text {
	line-height: 0.5em;
}

.software_table {
	display: table;
	width: 100%;
	border-collapse: collapse;
	border: none;
	margin: auto;
	margin-top: 40px;
}

.software_title {
	font-size: 18px !important;
    line-height: 20px;
    font-family: 'Open+sans', sans-serif;
}

#education, #work-experience, #software-experience {
	margin: 40px 0 20px 0;
}



.software_table ul {
	display: table-row;
	margin: auto;
}

.software_table li {
    display: table-cell;
    margin: 0;
    padding-top: 20px;
    text-align: center;
    font-family: 'Open+Sans', sans-serif;
    font-size: 12px;
    text-decoration: none;
    width: 25%;
}

#software-experience img {
	height: 52px;
	width: 52px;
}