html, body {
    max-width: 100%;
    overflow-x: hidden;
     background: linear-gradient( rgba(255, 255, 255, 0.85), rgba(169, 157, 147, 0.92) ), url(/static/img/toronto_bg.jpg) no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

.title {
	text-align: center;
	padding: 20px 0 30px 0;
}

.title hr {
	margin-top: -10px;
}

.title h1 {
	font-family: 'Pacifico', cursive;
	font-size: 52px;
}

.navbar-nav {
	display: table;
	width: 100%;
	border-collapse: collapse;
	border: none;
	margin-left: -3.12%;
}

nav {
	margin-bottom: 30px;
}

nav ul {
	display: table-row;
}

nav li {
	display: table-cell;
	margin: 0;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 32px;
	text-decoration: none;
}

nav a {
	color: #053A69;
}

nav a:hover {
	text-decoration: none;
}

.portfolio-menu {
	margin-top: 20px;
}

.tile {
	width: 100%;
	border: 5px solid black;
	height: 150px;
	margin: 20px 0;
	padding: 0 175px;
	color: white;
}

.tile:hover {
	color: white;
}

#gd {
	background: linear-gradient( rgba(220, 78, 83, 0.5), rgba(220, 78, 83, 0.5) ), url(/static/img/tile_gd_bg.jpg);
	background-size: cover;
}

#fa {
	background: linear-gradient( rgba(0, 114, 188, 0.5), rgba(0, 114, 188, 0.5) ), url(/static/img/tile_vid_bg.jpg);
	background-size: cover;
}

#va {
	background: linear-gradient( rgba(254, 179, 0, 0.5), rgba(254, 179, 0, 0.5) ), url(/static/img/tile_fa_bg.jpg);
	background-size: cover;
}

.tile span {
	line-height: 140px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 36px;
	font-weight: 300;
}


/*------FINE ART GALLERY CSS---------*/

.gallery {
	margin: auto;
	margin-top: 40px;
	margin-bottom: 100px;
	width: 80%;
}

.fadein {
	opacity:0.75;
	transition: 1s ease;
}

.fadein:hover {
	opacity:1;
	transition: 1s ease;
}

.gallery-page-hr {
	margin-bottom: 100px;
	margin-top: 0;
	width: 72%;
}

#drawings .thumb {
    display: block;
    text-indent: -1000px; /* hide link text */
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 250px;
    float: left;
    margin: 10px 0;
}

#drawings .title-thumb {
	display: block;
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 250px;
    float: left;
    margin: 10px 0;
    line-height: 250px;
    font-size: 52px;
    font-family: 'josefin sans', sans-serif;
}

#drawings .thumb-tall {
	display: block;
    text-indent: -1000px; /* hide link text */
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 790px;
    float: left;
    margin: 10px 0;
}


#illustrations .thumb {
	display: block;
    text-indent: -1000px; /* hide link text */
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 220px;
    float: left;
    margin: 10px 0;
}

#illustrations .thumb-square {
	display: block;
    text-indent: -1000px; /* hide link text */
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 460px;
    float: left;
    margin: 10px 0;
}

#illustrations .title-thumb {
	display: block;
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 220px;
    float: left;
    margin: 10px 0;
    line-height: 220px;
    font-size: 52px;
    font-family: 'josefin sans', sans-serif;
}


#illustrations .thumb-med {
    display: block;
    text-indent: -1000px; /* hide link text */
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 250px;
    float: left;
    margin: 10px 0;
}

#illustrations .thumb-med-square {
    display: block;
    text-indent: -1000px; /* hide link text */
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 520px;
    float: left;
    margin: 10px 0;
}

#illustrations .thumb-med-long {
    display: block;
    text-indent: -1000px; /* hide link text */
    overflow: hidden;
    background-size: 130% 100%;
    width: 100%;
    height: 520px;
    float: left;
    margin: 10px 0;
}


